/* Web fonts */
/*
1. font-family: 'Abril Fatface', cursive;
2. font-family: 'Girassol', cursive;
3. font-family: 'Playfair Display', serif;
4. font-family: 'Josefin Sans', sans-serif;
5. font-family: 'Questrial', sans-serif;
6. font-family: 'Source Sans Pro', sans-serif;
7. font-family: 'Work Sans', sans-serif;
8. font-family: 'Damion', cursive;
9. font-family: 'Petit Formal Script', cursive;
10.font-family: 'Kalam', cursive;
*/

* {
	font-family: 'Questrial', sans-serif;
}

#main-body {
	display: none;
}


/*webkit scrollbar*/
::-webkit-scrollbar {
	width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
	/* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  */
	/* box-shadow: inset 0 0 6px rgba(28,28,28,0.6); */
	background-color: #0c0e10;
	/*-webkit-border-radius: 3px;*/
	/*border-radius: 3px;*/
	cursor: pointer;
	transition: width 0.3s ease-in-out;
}

/* Handle */
::-webkit-scrollbar-thumb {
	/*-webkit-border-radius: 3px;*/
	/*border-radius: 3px;*/
	background: gray; 
	-webkit-box-shadow: inset 2px 2px 20px 1px #3c3c3c; 
	box-shadow: inset 2px 2px 20px 1px #3c3c3c;
	transition: width 0.3s ease-in-out;
	cursor: pointer;
}



#header {
	justify-content: center; 
	align-items: center; 
	padding: 20px 0px; 
	margin: 0px;
}



/*SearchButton*/
#searchbtn1 {
	display: none;
}




/*For each fetched item*/
.each-item-capsule {
	padding: 20px 0px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	border: 2px solid #35383c;
	box-shadow: inset 2px 2px 20px 1px #0c0e10, 
				5px 2px 15px 1px #090a0c;
}

.item-poster-container{
	text-align: center;
}
.item-poster {
	src: url("static/noposter.jpg");
	width: 240px;
	object-fit: contain;
	/*height: 370px;*/
}


.item-rating button:hover span {
	text-decoration: underline;
}

.item-rating button.btn:focus {
	outline: none;
	box-shadow: none;
}

.item-rating button.btn-outline-danger:hover {
	color: #fff !important;
	background-color: red;
	border-color: red !important;
}


.item-title-name {
	font-size: 2.5rem;
}
.item-release-year {
	font-size: 1.8rem;
	color: #c3c3c3;
}



.item-short-info {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.item-short-info span {
	color: #c3c3c3 !important;
	margin-right: 15px;
}


.item-plot {
	margin-bottom: 8px;
	font-size: 1.1rem;
}

.item-awards {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.item-awards span {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;	
}






/*breakPoints*/
@media only screen and (max-width: 581px) {
	.item-awards {
		width: 100%;
	}
}

@media only screen and (max-width: 760px) {
	#searchbtn2 {
		display: none;
	}
	#searchbtn1 {
		display: inline-block;
		border-radius: 0rem .25rem .25rem 0rem !important;
		border-left: none;
	}
	#inputname {
		border-radius: .25rem 0rem 0rem .25rem !important;
	}
}

@media only screen and (max-width: 850px) {
	#search-parameters {
		display: none;
	}
	.each-item-capsule {
		flex-direction: column;
	}
	.item-details {
		width: 90% !important;
	}
}
